.wrapper-section {
  border-bottom: 1px solid rgb(210, 210, 210);
  height: 100vh;
  display: flex;
}
.backgroundColorSection {
  padding: 5em;
  width: 100vw;
  padding-right: 20em;
  color: brown;
  background-color: white;
}
.el-one {
  font-family: math;
}
.ROASTTYPE {
  padding-top: 14px;
}
.ROASTTYPEHeader {
  letter-spacing: 1.5px;
  font-size: 26px;
  color: brown;
  line-height: 26px;
}
.HintText {
  word-spacing: 5px;
  font-weight: 800;
  font-size: 14px;
  color: brown;
  line-height: 35px;
  line-height: 26px;
}
.Hint {
  display: flex;
  align-items: center;
  padding-bottom: 2em;
  padding-top: 3.5em;
}
.reactI {
  padding: 0;
  padding-left: 0.5em;
}

.SelectCofe {
  width: 100%;
  color: black;
  background-color: #f7f6f1;
  padding: 5em 5em;
}
.menuSelCoffe {
  gap: 15px;
  display: flex;
}
.selectWrapperText {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  padding-bottom: 1.5em;
}

.wrapperElMenuCofe {
  padding: 2em 4em;
}
.ElMenuCofe {
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid rgb(116, 116, 116);
}
.ElMenuCofeSelect {
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid rgb(116, 116, 116);
  background-color: #ebe3d3;
}

.TextCofe {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
}

.svgPhotoCofe {
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
}

.SelectCofeDown {
  padding-top: 4em;
}

.line {
  background-color: #bd6228;
  height: 5px;
  width: 33%;
}

.wrapperHeader {
  padding: 2em 0em;
  color: black;
  justify-content: center;
  display: flex;
  background-color: white;
}

.HeaderText {
  font-size: 32px;
}
.wrapperHints {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.HintsTexts {
  color: black;
}

.BtnBext {
  padding-top: 5em;
}

.NexPageBtn {
  border: transparent;
  color: white;
  background-color: #78542e;
  cursor: pointer;
  font-weight: 600;
  padding: 1em 7em;
  font-style: normal;
  line-height: 16px;
  font-size: 16px;
}

.NexPageBtn:hover {
  background-color: #b07a40;
}
.ElMenuCofe {
  --shine-deg: 45deg;
  position: relative;
  overflow: hidden;
  box-shadow: 0 15px 25px -18px #ffcdae;
  background-repeat: no-repeat;
  background-position: -100% 0, 0 0;

  background-image: linear-gradient(
    var(--shine-deg),
    transparent 20%,
    transparent 40%,
    #fbe4d5 50%,
    #f7ddcd 55%,
    transparent 70%,
    transparent 100%
  );

  background-size: 250% 250%, 100% 100%;
  transition: background-position 0s ease;
}

.ElMenuCofe:hover {
  background-position: 200%0, 0 0;
  transition-duration: 1.5s;
}

div {
  padding: 0;
}