@import url("https://fonts.googleapis.com/css2?family=Graduate&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Play:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Graduate&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Play:wght@400;700&family=Scada:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.wrapperPhoto {
  background-color: white;
  padding: 120px 20px;
}
.content-Photo {
  padding: 32px 36px;
}
.TwoPhoto {
  display: flex;
  flex-direction: column;
}
.Main-wrapper-Photos {
  flex-direction: row;
  gap: 40px;
  display: flex;
}

.FirstPhoto {
  border-radius: 12px;
}

.ThisText {
  font-size: 20px;
  color: black;
  font-family: "Scada", sans-serif;
  font-weight: 500;
  font-style: normal;
  padding-top: 0.5em;
  cursor: pointer;
}
.ThisText2 {
  cursor: pointer;
  font-size: 20px;
  color: black;
  font-family: "Scada", sans-serif;
  font-weight: 500;
  font-style: normal;
  padding-top: 1em;
}
