.LiElList {
  list-style-type: none;
}
.wrapperSubheaderTextAword23 {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 100px;
}
.headerTextAword56 {
  padding: 2em 8em;
}
.headerTextAword23 {
  padding-bottom: 10px;
  color: #4a2b33;
  font-size: 47px;
  font-weight: 600;
  font-family: var(--font-suisse-intl), ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  line-height: 62.6px;
}

div {
  padding-bottom: 10px;
}
.wrapperPhotoBack {
  background-color: antiquewhite;
  position: relative;
  overflow: hidden;
}

.wrapperPhotoMeCofe {
  padding: 1em;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.wrapperPhotoMeCofe:hover {
  transform: translateY(-20px);
  opacity: 0;
}

.hiddenText {
  float: left;
  display: flex;
  color: black;
  top: 50%;
  height: 100%;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* padding: 1em; */
  /* background-color: rgba(0, 0, 0, 0.7); */
  font-size: 1.2em;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.wrapperPhotoBack:hover .hiddenText {
  opacity: 1;
}
.TextBlockEl {
  padding-top: 1em;
}
.PriceBlock {
  padding-top: 5px;
}

@media (max-width: 1600px) {
  .WrapperEl {
    width: 240px;
  }
}

@media (max-width: 1500px) {
  .WrapperEl {
    width: 200px;
  }
}

@media (max-width: 1400px) {
  .WrapperEl {
    width: 100%;
  }
}

.PhotoMeCasomePhoto {
  max-width: 100%; /* Зображення не буде перевищувати ширину контейнера */
  height: auto; /* Зберігає пропорції зображення */
  object-fit: cover; /* Забезпечує відповідний вигляд, якщо зображення обмежено */
}

@media (max-width: 768px) {
  .PhotoMeCasomePhoto {
    width: 100%; /* Зменшує ширину до 100% контейнера */
    height: auto;
  }
}

.wrapperPhotoBack {
  background-color: antiquewhite;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.wrapperPhotoMeCofe {
  padding: 1em;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.wrapperPhotoBack:hover {
  transform: scale(1.1); /* Збільшуємо блок при наведенні */
}

.hiddenText {
  color: black;
  top: 0%;
  height: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1.2em;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8); /* Напівпрозорий фон для тексту */
}

.wrapperPhotoBack:hover .hiddenText {
  opacity: 1; /* Показуємо текст при наведенні */
  cursor: pointer;
}

.ElCofeflavor {
  display: flex;
  flex-direction: column;
  float: left;
}
